@import 'bootstrap/dist/css/bootstrap.css';
@import './typography.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  transition: 0.3s;
}

:root {
  /* font-families */
  --candara: 'Candara';
  --open-sans: 'Open Sans';

  /* colors */
  --primary: #200943;
  --secondary: #2f0c66;
  --success: #133300;
  --warning: #d44949;
  --danger: #e54a64;
  --neutral: #374957;
  --black: #000;
  --white: #fff;
  --hackaton-bg-vertical: linear-gradient(62deg, #c8ffa7 29.5%, #8cb4d3 86.65%);
  --hackaton-neutral-normal: #8cb4d3;
  --hackaton-primary-normal: #00091d;
  --hackaton-primary-darker: #00030a;
}

body {
  background-color: var(--hackaton-primary-darker);
  padding-right: 0 !important;
  overflow-y: auto !important;
}

#app {
  display: grid;
  font-family: var(--candara), var(--open-sans), sans-serif;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100dvh;
}

main {
  padding: 16px 24px;
  @media screen and (min-width: 1280px) {
    padding: 30px 60px;
  }
}

button:not([class*='carousel-control']) {
  background-color: var(--hackaton-neutral-normal) !important;
  border: 1px solid var(--white) !important;
  color: var(--hackaton-primary-normal) !important;
}

textarea {
  resize: none;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
